{% load static %}

<div class="container-fluid dashhead">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/icon.jpg' %}" width="25%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Moviez <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'categories' %}">Packages</a>                
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'products' %}">All Movies</a>            
          </li>        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'history' %}">View History</a>            
          </li>        
          <li class="nav-item">
              <a class="nav-link" href="{% url 'profile'  %}"><span class="text-danger font-weight-bold">{{request.user.username|title}}</span> Profile </a>              
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logoutfunc' %}">Logout</a>              
          </li>        
        </ul>
      </div>
    </nav>